# For older python versions needed lower numbers
# While == is more stable and preferable, >= was needed for python 3.10 only (not for 3.6 - 3.9).
geopandas   ==  0.9.0
rtree       >=  0.9.7
rasterio    >= 1.2.10
scipy       >=  1.5.4
rasterstats == 0.17.0

# Unused by github workflow
pytest      ==  7.0.1
jupyter     ==  1.0.0